
.Navbar {
  border-bottom: 2px solid #000000;
}

.artist {
  width: 60%;
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  position: relative;
}

.artist h4 {
  padding-left: 150px;
}

.artist img {
  border-radius: 3px;
  cursor: pointer;
}

.artist-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.artist button {
  margin-left: 10px;
}


.albumHeader {
  display: flex;
  justify-content: space-between;
}

.album {
  width: 60%;
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  position: relative;
}

.album img {
  cursor: pointer;
}

.album div {
  padding-left: 100px;
}

.album-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.album button {
  margin-left: 10px;
}

.album img {
  border-radius: 3px;
}

.trackHeader {
  display: flex;
  justify-content: space-between;
}

.track {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track li {
  width: 90%;
  border-bottom: 1px solid #000000;
  padding: 0 5px;
  margin-bottom: 35px;
  list-style: none;
  position: relative;
}

.track li:hover {
  color: dodgerblue;
}

.track strong {
  padding-right: 10px;
  cursor: pointer;
}

.track p {
  margin: 0;
  padding: 0;
}

.track-publish-btn {
  position: absolute;
  bottom: 5px;
  right: 230px;
}

.track-delete-btn {
  position: absolute;
  bottom: 5px;
  right: 150px;
}

.published {
  position: absolute;
  right: 15px;
  top: 10px;
}

.published-album {
  position: absolute;
  right: 15px;
  top: 10px;
}

.published-track {
  position: absolute;
  right: 15px;
  bottom: 5px;
}
